
      <nav id="sidebarMenu" class="pt-3 col-md-4 col-lg-2 d-md-block bg-success sidebar collapse ">
        <div class="sidebar-sticky pt-3" id="myDIV">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'dashboard' %}">
                <i class="fas fa-home"></i>
                Dashboard 
              </a>
            </li>
            <br>
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'userprofile' %}">
                <i class="fas fa-user-edit"></i>
                My Profile
              </a>
            </li>
            <br>
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'userOrder' %}">
                <i class="fas fa-shopping-cart"></i>
                My Orders
              </a>
            </li><br>
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'balance' %}">
                <i class="fas fa-money-check-alt"></i>
                Balance
              </a>
            </li><br>
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'chat' %}">
                <i class="fas fa-comments"></i>
                Chat
              </a>
            </li>
            <br>
            <li class="nav-item">
              <a class="list-group-item list-group-item-action " href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </li>

            
          </ul>
  
          
        </div>
      </nav>
